---
// src/layouts/Layout.astro

import '../styles/global.css';
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    
    <title>{title}</title>
</head>
<body class="d-flex flex-column min-vh-100">
    <!-- Navbar oscuro -->
    <nav class="navbar pt-0 pb-0 navbar-expand-lg bg-dark navbar-dark sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <i class="bi bi-github"></i>
        Sistemita</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/about">Acerca de</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Datos
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="/contact">Contacto</a></li>
            <li><a class="dropdown-item" href="/results">Resultados</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Nada</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Registrase</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Buscar..." aria-label="Search" />
        <button class="btn btn-outline-success" type="submit">Buscar</button>
      </form>
    </div>
  </div>
</nav>

    <!-- Contenido principal -->
    <div class="container  my-5 ">
   
        <main class="my-4">
            <slot /> <!-- Contenido de las páginas -->
        </main>
    </div>

    <!-- Footer -->
    <footer class=" mt-auto bg-dark text-white-50 ">
        <div class="container  text-center">
            <small>© 2025. Todos los derechos reservados.</small>
        </div>
    </footer>

    <!-- Bootstrap JS Bundle con Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>

<style>


 div {
  background-color: rgba(26, 26, 26, 0.9);
  padding: 0rem !important;
  padding-right: 1.5em !important;
  padding-left: 1.5em !important;
  border-radius: 4px !important;
  margin-bottom: 0rem !important;
}
</style>